!!! 5
html
	head
		title Reise
		
		//if lt IE 9
			script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
		
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='/libraries/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/libraries/bootstrap/css/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/libraries/photoswipe/photoswipe.css')
		
		// For iPhone 4 with high-resolution Retina display: 
		link(rel='apple-touch-icon-precomposed', sizes='114x114', href='/images/icon/big/apple-touch-icon.png') 
		// For first-generation iPad:
		link(rel='apple-touch-icon-precomposed', sizes='72x72', href='/images/icon/medium/apple-touch-icon.png') 
		// For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: 
		link(rel='apple-touch-icon-precomposed', href='/images/icon/small/apple-touch-icon-precomposed.png') 
		// For nokia devices: 
		link(rel='shortcut icon', href='/images/icon/small/apple-touch-icon-precomposed.png')
		
		script(type='text/javascript')
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-29114466-1']);
			_gaq.push(['_trackPageview']);
		
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
	body
		div.navbar.navbar-fixed-top
			div.navbar-inner
				div.container
					a.brand(href='#') Reise
		div.container
			!= body
		script(type='text/javascript', src='/libraries/photoswipe/lib/klass.min.js')
		script(type='text/javascript', src='/libraries/photoswipe/code.photoswipe-3.0.4.min.js')
		script(type='text/javascript', src='/javascripts/image.gallery.js')
					